{
  "pieces" : {
    "fullShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [64, 0]
    },
    "topShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [0, 0]
    },
    "leftShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [8, 0]
    },
    "bottomShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [16, 0]
    },
    "rightShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [24, 0]
    },
    "topLeftShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [32, 0]
    },
    "topRightShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [40, 0]
    },
    "bottomLeftShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [48, 0]
    },
    "bottomRightShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [56, 0]
    },

    "vertical" : {
      "textureSize" : [10, 8],
      "texturePosition" : [0, 1],
      "colorStride" : [0, 10],
      "variantStride" : [20, 0]
    },
    "topcap" : {
      "textureSize" : [10, 1],
      "texturePosition" : [0, 0],
      "colorStride" : [0, 10],
      "variantStride" : [20, 0]
    },
    "bottomcap" : {
      "textureSize" : [10, 1],
      "texturePosition" : [0, 9],
      "colorStride" : [0, 10],
      "variantStride" : [20, 0]
    },
    "horizontal" : {
      "textureSize" : [8, 10],
      "texturePosition" : [11, 0],
      "colorStride" : [0, 10],
      "variantStride" : [20, 0]
    },
    "leftcap" : {
      "textureSize" : [1, 10],
      "texturePosition" : [10, 0],
      "colorStride" : [0, 10],
      "variantStride" : [20, 0]
    },
    "rightcap" : {
      "textureSize" : [1, 10],
      "texturePosition" : [19, 0],
      "colorStride" : [0, 10],
      "variantStride" : [20, 0]
    },

    "icon" : {
      "textureSize" : [8, 8],
      "texturePosition" : [11, 1],
      "colorStride" : [0, 10],
      "variantStride" : [20, 0]
    }
  },

  "representativePiece": "icon",

  "rules" : {
    "EqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf"
        }
      ]
    },
    "NotEqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf",
          "inverse" : true
        }
      ]
    },
    "Connects" : {
      "entries" : [
        {
          "type" : "Connects"
        }
      ]
    },
    "Empty" : {
      "entries" : [
        {
          "type" : "Connects",
          "inverse" : true
        }
      ]
    },
    "Shadows" : {
      "entries" : [
        {
          "type" : "Shadows"
        }
      ]
    },
    "NotShadows" : {
      "entries" : [
        {
          "type" : "Shadows",
          "inverse" : true
        }
      ]
    }
  },

  "matches" : [
    ["main", [
      {
        "subMatches" : [
          {
            "matchAnyPoints" : [
              [[1, 0], "EqualsSelf"],
              [[-1, 0], "EqualsSelf"]
            ],
            "haltOnSubMatch" : true,
            "subMatches" : [
              {
                "pieces" : [["horizontal", [0, -1]]]
              },
              {
                "matchAllPoints" : [
                  [[-1, 0], "NotEqualsSelf"]
                ],
                "pieces" : [["leftcap", [-1, -1]]]
              },
              {
                "matchAllPoints" : [
                  [[1, 0], "NotEqualsSelf"]
                ],
                "pieces" : [["rightcap", [8, -1]]]
              }
            ]
          },
          {
            "matchAnyPoints" : [
              [[0, 1], "EqualsSelf"],
              [[0, -1], "EqualsSelf"]
            ],
            "haltOnSubMatch" : true,
            "subMatches" : [
              {
                "pieces" : [["vertical", [-1, 0]]]
              },
              {
                "matchAllPoints" : [
                  [[0, -1], "NotEqualsSelf"]
                ],
                "pieces" : [["topcap", [-1, -1]]]
              },
              {
                "matchAllPoints" : [
                  [[0, 1], "NotEqualsSelf"]
                ],
                "pieces" : [["bottomcap", [-1, 8]]]
              }
            ]
          },
          {
            "pieces" : [
              ["vertical", [-1, 0]],
              ["topcap", [-1, -1]],
              ["bottomcap", [-1, 8]]
            ]
          }
        ]
      },

      // SHADOWS
      {
        "matchAllPoints" : [[[0, 0], "Shadows"]],
        "pieces" : [["fullShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[0, 1], "Shadows"]],
        "pieces" : [["topShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[-1, 0], "Shadows"]],
        "pieces" : [["leftShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[0, -1], "Shadows"]],
        "pieces" : [["bottomShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[1, 0], "Shadows"]],
        "pieces" : [["rightShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[-1, 1], "Shadows"], [[0, 1], "NotShadows"], [[-1, 0], "NotShadows"]],
        "pieces" : [["topLeftShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[1, 1], "Shadows"], [[0, 1], "NotShadows"], [[1, 0], "NotShadows"]],
        "pieces" : [["topRightShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[-1, -1], "Shadows"], [[0, -1], "NotShadows"], [[-1, 0], "NotShadows"]],
        "pieces" : [["bottomLeftShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[1, -1], "Shadows"], [[0, -1], "NotShadows"], [[1, 0], "NotShadows"]],
        "pieces" : [["bottomRightShadow", [0, 0]]]
      }
    ]]
  ]
}
