{
  "pieces" : {
    "fullShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [64, 0]
    },
    "topShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [0, 0]
    },
    "leftShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [8, 0]
    },
    "bottomShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [16, 0]
    },
    "rightShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [24, 0]
    },
    "topLeftShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [32, 0]
    },
    "topRightShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [40, 0]
    },
    "bottomLeftShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [48, 0]
    },
    "bottomRightShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [56, 0]
    },

    "top" : {
      "textureSize" : [12, 12],
      "texturePosition" : [0, 0],
      "colorStride" : [12, 0],
      "variantStride" : [0, 48]
    },
    "center" : {
      "textureSize" : [12, 12],
      "texturePosition" : [0, 12],
      "colorStride" : [12, 0],
      "variantStride" : [0, 48]
    },
    "bottom" : {
      "textureSize" : [12, 12],
      "texturePosition" : [0, 24],
      "colorStride" : [12, 0],
      "variantStride" : [0, 48]
    },
    "single" : {
      "textureSize" : [12, 12],
      "texturePosition" : [0, 36],
      "colorStride" : [12, 0],
      "variantStride" : [0, 48]
    },

    "icon" : {
      "textureSize" : [8, 8],
      "texturePosition" : [2, 38],
      "colorStride" : [12, 0],
      "variantStride" : [0, 48]
    }
  },

  "representativePiece": "icon",

  "rules" : {
    "EqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf"
        }
      ]
    },
    "NotEqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf",
          "inverse" : true
        }
      ]
    },
    "Connects" : {
      "entries" : [
        {
          "type" : "Connects"
        }
      ]
    },
    "Empty" : {
      "entries" : [
        {
          "type" : "Connects",
          "inverse" : true
        }
      ]
    },
    "Shadows" : {
      "entries" : [
        {
          "type" : "Shadows"
        }
      ]
    },
    "NotShadows" : {
      "entries" : [
        {
          "type" : "Shadows",
          "inverse" : true
        }
      ]
    }
  },

  "matches" : [
    ["main", [
      {
        "subMatches" : [
          {
            "matchAllPoints" : [
              [[0, 1], "Empty"],
              [[0, -1], "Connects"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["top", [-2, -2]]]
          },
          {
            "matchAllPoints" : [
              [[0, 1], "Connects"],
              [[0, -1], "Connects"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["center", [-2, -2]]]
          },
          {
            "matchAllPoints" : [
              [[0, 1], "Connects"],
              [[0, -1], "Empty"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["bottom", [-2, -2]]]
          },
          {
            "pieces" : [["single", [-2, -2]]]
          }
        ]
      },

      // SHADOWS
      {
        "matchAllPoints" : [[[0, 0], "Shadows"]],
        "pieces" : [["fullShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[0, 1], "Shadows"]],
        "pieces" : [["topShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[-1, 0], "Shadows"]],
        "pieces" : [["leftShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[0, -1], "Shadows"]],
        "pieces" : [["bottomShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[1, 0], "Shadows"]],
        "pieces" : [["rightShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[-1, 1], "Shadows"], [[0, 1], "NotShadows"], [[-1, 0], "NotShadows"]],
        "pieces" : [["topLeftShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[1, 1], "Shadows"], [[0, 1], "NotShadows"], [[1, 0], "NotShadows"]],
        "pieces" : [["topRightShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[-1, -1], "Shadows"], [[0, -1], "NotShadows"], [[-1, 0], "NotShadows"]],
        "pieces" : [["bottomLeftShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[1, -1], "Shadows"], [[0, -1], "NotShadows"], [[1, 0], "NotShadows"]],
        "pieces" : [["bottomRightShadow", [0, 0]]]
      }
    ]]
  ]
}
